<form method="post" action="{{ path('app_donation_delete', {'iddon': donation.iddon}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ donation.iddon) }}">
    <button class="btn btn-danger-custom btn-sm">Delete</button>
</form>
