<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recette validee!</title>

</head>
<body>
    <h1>Recette validee</h1>
    <p>Vous avez proposé une recette sur notre site qui a été approuvée</p>
</body>
</html>




