{% extends 'baseBack.html.twig' %}

{% block title %}New Cabinet{% endblock %}

{% block body %}
    <br>
    <h4><b>Ajouter un Cabinet</b></h4>

    {{ include('cabinet/_form.html.twig') }}
{% endblock %}
