{% extends 'baseFront.html.twig' %}

{% block title %}Merci !{% endblock %}


{% block body %}
    <div class=" col-lg-4 col-md-6 col-sm-6">
        <div class="single-services text-center mb-30">
            <div class="services-ion">
                <div class="services-cap">
                    <h5>Merci de passer votre Rendez Vous !</h5>
                    <h6>Une réponse va être géneré dans 48H.</h6>
                </div>
            </div>
        </div>
    </div>

{% endblock %}