{% extends 'baseBack.html.twig' %}

{% block title %}New Rendez Vous{% endblock %}

{% block body %}
    <br>
    <h4><b>Ajouter un Rendez Vous</b></h4>

    {{ include('rdv/_form.html.twig') }}
{% endblock %}
