{% extends 'baseBack.html.twig' %}
{% block stylesheet %}
<style>
 .tablee {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
            border-collapse: collapse;
        }

        .tablee th,
        .tablee td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .tablee th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            background-color: #f8f9fa;
            font-weight: bold;
        }

        .tablee td {
            background-color: #fff;
        }
        

        .buttonn {
            display: inline-block;
            font-weight: 400;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #00695f;
            border: 1px solid white;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            text-decoration: none;
        }
        

        .btn2 {
            display: inline-block;
            font-weight: 400;
            color: black;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #28a745;
            border: 1px solid white;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            text-decoration: none;
        }
        

        .buttonn:hover {
            color: #fff;
            background-color: ##00695f;
            border-color: ##00695f;
            text-decoration: none;
        }

        .btn2:hover {
            color: #fff;
            background-color: ##28a745;
            border-color: ##28a745;
            text-decoration: none;
        }

        .inline-inputs {
            display: flex;
            align-items: center;
        }

        .inline-inputs input {
            flex: 1; /* This ensures both input fields take up equal width */
            margin-right: 10px; /* Adjust the spacing between the input fields */
        }

        .inline-inputs label {
            margin-bottom: 5px; /* Add some space below the label */
        }
</style>
{% endblock %}
{% block title %}User{% endblock %}

{% block body %}
<div class="fils">
    <h1>User</h1>

    <table class="tablee" >
        <tbody>
            
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
           
        </tbody>
    </table>
    <br>
<div style="padding-left: 300px;">
<div class="qrcode">
   <img id="qrCodeImage" src="data:image/png;base64,{{ qrCodeImage }}" alt="QR Code" style="width: 250px;" >
</div>   
    <a href="{{ path('app_user_index') }}" class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">Back to list</a>

                    <a href="{{ path('app_user_showw', {'iduser': user.iduser}) }}" class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">show</a>

</div>
</div>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  function downloadTicket() {
    const ticketElement = document.querySelector('.fils');
    html2canvas(ticketElement).then(function (canvas) {
      const imageData = canvas.toDataURL('image/png');
      const downloadLink = document.createElement('a');
      downloadLink.href = imageData;
      downloadLink.download = 'ticket.png';
      downloadLink.click();
    });
  }

  const downloadTicketBtn = document.getElementById('downloadTicketBtn');
  downloadTicketBtn.addEventListener('click', downloadTicket);
});
</script>
{% endblock %}
